
html,body{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-family: Helvetica,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a{
    text-decoration: none;
    color:#409EFF;
}
ul,ol{
    list-style: none;
}