               html,
body {
    margin: 0;
    padding: 0;
    outline: none;
   }

   * {
       box-sizing: border-box;
       font-family: Helvetica, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
      }

      a {
          text-decoration: none;
          color: #409EFF;
         }

         ul,
         ol {
             list-style: none;
            }

            .com_contain {
                padding: 20px;
               }
               div:focus{
                   outline: none!important;
               }